
// colors
$gray_1: #454545;
$gray_2: #536e7b;
$gray_3: #ccc;
$gray_4: #f5f5f5;

$white_color: #fff;

$blue_1: #1393f6;
$blue_2: #eff4fa;

$red_1: #ff0000;

// font
$lato: 'Lato', sans-serif;

// sizes

$size-big: 1024px;