.l-content
{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;

	&__container
	{
		margin: -100px auto 0;
		max-width: 550px;
		padding: 10px;
		position: relative;
		border-radius: 5px;
		border: 1px solid $gray_3;
		background-color: $white_color;

		@media screen and (min-width: $size-big) {
			padding: 50px;
	    }
	}
}