.l-header
{
	padding: 20px;
	border-bottom: 1px solid $gray_3;
	background-color: $gray_4;

	&__container
	{
		margin: 50px auto 0;
		padding: 0 0 100px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 1200px;

		@media screen and (min-width: $size-big) {
       margin-top: 100px;
       justify-content: space-between;
       flex-direction: row;
       font-size: 48px;
    }
	}

	&__title
	{
		font-size: 30px;
		color: $gray_2;
		font-weight: 700;
		text-align: center;

		@media screen and (min-width: $size-big) {
       font-size: 48px;
       text-align: left;
    }


		> small
		{
			font-size: 20px;
			display: block;
			margin-top: 5px;
			font-weight: 400;
	    color: rgba(51,51,51,0.6);

	    @media screen and (min-width: $size-big) {
       	font-size: 30px;
    	}
		}
	}

	&__photo
	{
		text-align: center;
		margin-top: 30px;

		@media screen and (min-width: $size-big) {
     	margin: 0 0 0 20px;
  	}

		> img
		{
			width: 200px;
			height: 200px;
	    	border-radius: 100%;
		}
	}
}