.l-nav
{
	padding: 20px;

	&__container
	{
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 1200px;
		justify-content: center;

		 @media screen and (min-width: $size-big) {
       	justify-content: flex-start;
    	}
	}

	&__name
	{

		> a
		{
			font-size: 30px;
			text-decoration: none;
			font-weight: 700;
			color: $gray_1;

			> span
			{
				display: block;
				margin-top: 4px;
				font-size: 10px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}