.m-btn
{
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	border:0;
	background-color: $blue_1;
	color: $white_color;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;

	&:hover
	{
		opacity: .9;
	}
}