.m-form
{

	&__inputs
	{
		
	}

	&__title
	{
		color: $blue_1;
		padding-bottom: 15px;
		margin-bottom: 20px;
		text-align: center;
	    font-size: 24px;
	    font-weight: 700;
	    border-bottom: 2px solid rgba(19,147,246,0.2);

		> small
		{
			display: block;
			margin-top: 4px;
			font-size: 14px;
			font-weight: 400;
		}
	}

	&__label
	{
		display: block;
	    color: $gray_1;
	    font-size: 15px;
	    font-weight: 700;
	}

	&__checks
	{
		margin-top: 20px;
	}

	&__items
	{
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}

	&__checkbox
	{
		width: 17px;
		height: 17px;
	}

	&__label--check
	{
		margin: 0 0 0 10px;
		font-weight: 400;
	}

	&__select
	{
		margin: 20px 0;
	    padding: 10px;
	    width: 100%;
		height: 40px;
	    border-radius: 5px;
	    border: 1px solid rgba(19,147,246,0.9);
    	background-color: $blue_2;
	}

	&__textarea
	{
		margin: 20px 0;
		width: 100%;
		height: 69px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid rgba(19,147,246,0.9);
    	background-color: $blue_2;

    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-family: $lato;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  font-family: $lato;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  font-family: $lato;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  font-family: $lato;
		}
	}
	&__user
	{
		margin: 20px 0;
	    padding: 10px;
	    width: 100%;
		height: 40px;
	    border-radius: 5px;
	    border: 1px solid rgba(19,147,246,0.9);
    	background-color: $blue_2;
	}
}